{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{%
  set classes = [
     'btn',
     'btn-primary',
  ]
%}

<button{{ attributes.addClass(classes) }}>Formu gönder</button>
