{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}
{% if primary %}
  <ul class="nav nav-pills">{{ primary }}</ul>
{% endif %}
{% if secondary %}
  <ul class="nav nav-underline">{{ secondary }}</ul>
{% endif %}
