{%
  set classes = [
    label_display == 'inline' ? 'clearfix',
  ]
%}
{%
  set title_classes = [
    'my-2',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes.addClass(classes, 'field__items') }}>
      {% for item in items %}
        <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <span{{ attributes.addClass(classes, 'field__item') }}>{{ item.content }}</span>
    {% endfor %}
  {% endif %}
{% else %}
  
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}
    {% for item in items %}
      <span{{ item.attributes.addClass('field__item') }}>{{ item.content }}</span>{% if not loop.last %},{% endif %}
    {% endfor %}
    </div>
  
{% endif %}
