{%
  set classes = [
    
  ]
%}
  <div{{ attributes.addClass(classes) }}>
    {% for item in items %}
      <span{{ item.attributes.addClass('field__item') }}>{{ item.content }}</span>
    {% endfor %}
    </div>
  </div>
