{#
/**
 * @file
 * Theme override to display a formatted image field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - image_style: An optional image style.
 * - url: An optional URL the image can be linked to.
 *
 * @see template_preprocess_image_formatter()
 */
#}
{% if url %}
  {# Add 'target="_blank"' attribute to open the link in a new tab #}
  {{ link(image, url, {'target': '_blank'}) }}
{% else %}
  {{ image }}
{% endif %}
