<header>
  <!-- Fixed navbar -->
  <nav class="{% if logged_in %} umtm {% endif %} navbar navbar-expand-md text-center sticky-top border" aria-label="navbar">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="{{ base_path ~ directory }}/images/logo.svg" alt="Hafıza Merkezi logosu"></a>
      <br/>Paydaş Platformu
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-lg-end" id="navbarCollapse">
        {{ page.primary_menu }}
      </div>
    </div>
  </nav>
</header>