<article{{ attributes }}>
    <div class="card" style="position: sticky; top: 6rem;">
      <div class="card-body">
        <h1 class="card-title-book">{{ node.getTitle() }}</h1>

        <div class="breadcrumb d-flex align-items-center">
          <div class="breadcrumb-item">
          {% if content.field_type %}
            {{ content.field_type.0 }}
          {% endif %}
          </div>
          <div class="breadcrumb-item">
          {% if content.field_category %}
            {{ content.field_category.0 }}
          {% endif %}
          </div>
          {% if content.field_link.0 %}
          <div class="ms-auto">
            <a href="{{ node.field_link.uri }}" target="_blank" class="btn btn-primary">Çevrimiçi Kopyası</a>
          </div>
          {% endif %}
          {% if (content.field_pdf.0) and (logged_in) %}
          <div class="ms-auto">
                <a href="{{ file_url(node.field_pdf.entity.uri.value) }}" target="_blank" class="btn btn-outline-success">PDF göster</a>
          </div>
          {% endif %}
        </div>

        <div class="text-success">
          <hr>
        </div>

        {% if content.field_prepared_by %}
          {{ content.field_prepared_by }}
        {% endif %}
        {% if content.field_author %}
          {{ content.field_author }}
        {% endif %}
        {% if content.field_interviewer %}
          {{ content.field_interviewer }}
        {% endif %}
        {% if content.field_translator_transcriber %}
          {{ content.field_translator_transcriber }}
        {% endif %}
        {% if content.field_photographer %}
          {{ content.field_photographer }}
        {% endif %}
        
<div class="text-success">
  <hr>
</div>

        {% if content.field_publisher %}
          {{ content.field_publisher.0 }},
        {% endif %}
        {% if content.field_year %}
          {{ content.field_year.0 }}
        {% endif %}

<div class="text-success">
  <hr>
</div>

        {% if content.field_callno %}
          {{ content.field_callno }}
        {% endif %}

        {% if content.field_isbn13 %}
          {{ content.field_isbn13 }}
        {% endif %}

        {% if content.field_isbn %}
          {{ content.field_isbn }}
        {% endif %}

        {% if content.field_issn %}
          {{ content.field_issn }}
        {% endif %}

        {% if (content.field_edition.value) or (content.field_series.value) or (content.field_hangi_site.value) %}

          <div class="text-success">
            <hr>
          </div>
        {% endif %}


        {% if content.field_edition %}
          {{ content.field_edition }}
        {% endif %}
        {% if content.field_series %}
          {{ content.field_series }}
        {% endif %}
        {% if content.field_volume %}
          {{ content.field_volume }}
        {% endif %}
        {% if content.field_hangi_site %}
          {{ content.field_hangi_site }}
        {% endif %}
    {% if content.body %}
      <div class="text-success">
        <hr>
      </div>
      {{ content.body }}
    {% endif %}
      {{ content.field_lend }}

      </div>
  </div>
</article>
