{% include '@paydas/templates/layout/header.html.twig' %}
<div class="form-back">
  <main role="main" class="flex-shrink-0">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    <div class="form-container shadow">
      {{ page.secondary_menu }}
      {{ page.breadcrumb }}
      {{ page.highlighted }}
      {{ page.help }}
      {{ page.content }}
    </div>
  </main>

  {% if page.footer %}
<footer class="footer mt-auto py-3 bg-body-tertiary">
  <div class="container">
      {{ page.footer }}
  </div>
</footer>
</div>
  {% endif %}

