{% include '@paydas/templates/layout/header.html.twig' %}
  <main role="main" class="flex-shrink-0 pb-4">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    <div class="container">
      {{ page.secondary_menu }}
      {{ page.breadcrumb }}
      {{ page.highlighted }}
      {{ page.help }}
      <div class="row">
        <div class="col-md">
          {{ page.content }}
        </div>
        <div class="col-md">
          {{ page.sidebar_second }}
        </div>        
      </div>
    </div>
  </main>

  {% if page.footer %}
<footer class="footer mt-auto py-3 bg-body-tertiary">
  <div class="container">
      {{ page.footer }}
  </div>
</footer>

  {% endif %}

